.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0, 0.56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2ff;
    padding: 37px 39px 39px;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 20px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__descr {
        font-size: 14px;
        font-weight: 500;
        color: #0d0d0d;
        text-align: center;
    }
    &__mini {
        min-height: 140px;
    }
    .error {
        border: 1px solid red;

    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 10px;
    }
}
#consultation, #order, #thank {
    display: none;
}